/* Tablet */

$medium : 768px!default;

$medium-up: "only screen and (min-width: #{$medium})";
$medium-down: "only screen and (min-width: #{$medium})";

/* Desktop */

$large : 1000px!default;

$large-up: "only screen and (min-width: #{$large})";
$large-down: "only screen and (min-width: #{$large})";