@import "./media";
@import "./variable";
@import "./mixin";

/* éléments généraux de la page */
body {
    font-family: DM Sans;
    margin: 45px 20px;
}
.fa-heart:before {
    margin-left: 5px;
}
a {
    color: $primarycolor;
    text-decoration: none;
}

/* header */
header {
    margin-bottom: 20px;
    img {
        width: 120px;
    }
}

/* main */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    h1 {
        @include title
    }
    .contact_me {
        position: fixed;
        left: 32.53%;
        right: 32%;
        top: 83.61%;
        bottom: 4.56%;
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        width: 39%;
        height: 35px;
        border-radius: 5px;
        color: whtite;
        color: #FFFFFF;
        background-color: $primarycolor;
        border-color: transparent;
    }
    p {
        margin: 11px 0;
        white-space: nowrap;
    }
    p.city {
        color: $primarycolor;
    }
    p.bio {
        color: $tertiarycolor;
    }
    .portrait {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        object-fit: cover;
    }
    .portrait img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        object-fit: cover;
    }
    ul {
        @include ul;
        width: 120%;
    }
    li {
        @include li
    }
}
aside {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 60px;
    border-color: transparent;
    select {
        border-radius: 5px;
        background: #911C1C;
        color: #FFFFFF;
        border-color: transparent;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        margin-left: 20px;
        padding: 10px;
    }
}
article {
    display: flex;
    flex-direction: column;
    .shoot {
        width: 100%;
        height: 190px;
        border-radius: 5px;
        object-fit: cover;
        margin-bottom: 50px;
        font-size: 18px;
        line-height: 0px;
    }
    .shoot img, .shoot video {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        -o-object-fit: cover;
        object-fit: cover;
        box-sizing: border-box;
        cursor: pointer;
    }
    .data {
        display: flex;
        align-items: baseline;
        justify-content:space-between;
        width: 100%;
        color: #901C1C;
        .fa-heart {
            display: flex;
            flex-direction: row-reverse;
            font-weight: bold;
            margin-left: 5px;
        }
    }
}

/* Modal form */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(196, 196, 196, 0.4);
}
.content {
    margin: 20% auto;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: #DB8876;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
}
.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
    &:before,
    &:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 33px;
        width: 3px;
        background-color: #fff;
    }
}
.close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
.modal-body {
    padding: 15px 8%;
    margin: 15px auto;
    height: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    p {
        font-size: 20px;
    }
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13%;
}
form h1 {
    position: absolute;
    margin: 10px;
    top: 10px;
    width: 85%;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    p {
        margin: 0;
    }
}
.data-form {
    width: 85%;
    margin: auto;
}
.data-form[data-error]::after {
    content: attr(data-error);
    font-size: 1.2em;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}
.data-form[data-error-visible=true]::after {
    opacity: 1;
    display: flex;
}
.data-form[data-error-visible=true] .text-control {
    border: 2px solid red;
}
.data-form[data-error-visible=true] .text-message {
    border: 2px solid red;
}
input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
}
label {
    font-size: 24px;
    line-height: 31px;
    color: #312E2E;
}
.text-control {
    width: 100%;
    height: 52px;
    border-radius: 5px;
    font-size: 1.3rem;
    border-color: transparent;
    margin: 10px 0 20px 0;
}
.text-message {
    margin: 0;
    width: 100%;
    height: 184px;
    border-radius: 5px;
    font-size: 1.3rem;
    border-color: transparent;
    margin: 10px 0 20px 0;
}
.btn-submit {
    height: 35px;
    width: 170px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    background: #901C1C;
    border-color: transparent;
    color: #FFFFFF;
}

/* Lightbox */

.lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left:0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;
    padding: 15px;
    z-index: 100;
}
.lightbox__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.lightbox__container img,
.lightbox__container video {
    width: 85%;
    height: 50%;
    box-sizing: border-box;
    border-radius: 5px;
    object-fit: cover;
}
.lightbox__close {
    position: absolute;
    top: 26%;
    right: 2%;
    padding: 0 10px;
    font-size: 30px;
    cursor: pointer;
    color: $primarycolor;
}
.lightbox__next {
    position: absolute;
    top: 50%;
    right: 4%;
    font-size: 35px;
    color: $primarycolor;
    cursor: pointer;
}
.lightbox__prev {
    position: absolute;
    top: 50%;
    left: 4%;
    font-size: 35px;
    color: $primarycolor;
    cursor: pointer;
}
.lightbox__close:hover, .lightbox__prev:hover, .lightbox__next:hover {
    color:rgba(0, 0, 0, 0.8);
}
.lightbox__title {
    position: absolute;
    top: 73%;
    left: 9%;
    font-size: 25px;
    color: $primarycolor;
}

/* Footer */
.display {
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 0px;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 230px;
    border-radius: 5px;
    background: #DB8876;
    border-radius: 5px;
    font-size: 15px;
    p {
        display: flex;
        flex-direction: row-reverse;
        padding: 20px;
        font-weight: bold;
    }
}

/* Responsive for Tablet */
  
@media #{$medium-up} {
    body {
        margin: auto;
        width: 90%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    main {
        flex-wrap: wrap;
        flex-direction: initial;
    }
    section {
        background: $backgroundcolor;
        border-radius: 5px;
        .profil {
            padding: 3%;
        }
        .portrait {
            padding: 3%;
            width: 150px;
            height: 150px;
        }
        .portrait img {
            width: 150px;
            height: 150px;
        }
    }
    article {
        flex-wrap: wrap;
        flex-direction: initial;
        justify-content: space-between;
        .shoot {
            width: 330px;
            height: 300px;
        }
    }

    /* Lightbox */
    .lightbox__container img,
    .lightbox__container video {
        width: 70%;
        height: 60%;
    }
    .lightbox__close {
        right: 10%;
        font-size: 35px;
        top: 21%;
    }
    .lightbox__next {
        font-size: 40px;
        right: 11%;
    }
    .lightbox__prev {
        font-size: 40px;
        left: 11%;
    }
    .lightbox__title {
        top: 79%;
        left: 16%;
    }
}

/* Responsive for Desktop */

@media #{$large-up} {
    body {
        margin: auto;
        max-width: 1190px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    header img {
        width: 195px;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
        margin: auto;
        .shoot {
            width: 300px;
            height: 300px;
        }
        .display {
            right: 25px;
            width: 300px;
            font-size: 24px;
        }
    }
    section {
        position: relative;
        h1 {
            font-size: 55px;
        }
        p {
            font-size: 20px;
            margin: 5px 0;
        }
        p.city {
            font-size: 24px;
        }
        p.bio {
            font-size: 18px;
        }
        li {
            font-size: 18px;
            border-radius: 12px;
        }
        .contact_me {
            position: absolute;
            top: 20%;
            left: 460px;
            width: 170px;
            height: 69px;
            
        }
        .portrait {
            width: 200px;
            height: 200px;
        }
        .portrait img {
            width: 200px;
            height: 200px;
        }
    }

    /* Modal form */
    .content {
        max-width: 669px;
    }
    form {
        align-items: flex-start;
        h1 {
            margin-left: 50px;
        }
    }
    .btn-submit { 
        height: 69px;
        width: 170px;
        margin-left: 50px;
    }
    
    /* Lightbox */
    .lightbox__container img,
    .lightbox__container video {
        width: 75%;
        height: 90%;
    }
    .lightbox__close {
        right: 9%;
        font-size: 40px;
        top: 6%;
    }
    .lightbox__next {
        font-size: 50px;
        right: 10%;
    }
    .lightbox__prev {
        font-size: 50px;
        left: 10%;
    }
    .lightbox__title {
        top: 91%;
        left: 13%;
    }
}    
