@charset "UTF-8";
/* Tablet */
/* Desktop */
/* mixins body */
/* mixins du nav */
/* éléments généraux de la page */
body {
  font-family: DM Sans;
  margin: 45px 20px;
}

main .contact_me {
  position: fixed;
  left: 32.53%;
  right: 32%;
  top: 83.61%;
  bottom: 4.56%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  width: 39%;
  height: 35px;
  border-radius: 5px;
  color: whtite;
  color: #FFFFFF;
  background-color: #901C1C;
  border-color: transparent;
}

.selection {
  display: none;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 60px;
  border-color: transparent;
}

.selection select {
  border-radius: 5px;
  background: #911C1C;
  color: #FFFFFF;
  border-color: transparent;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-left: 20px;
  padding: 10px;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #901C1C;
}

.fa-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-weight: bold;
  margin-left: 5px;
}

/* header */
header {
  margin-bottom: 20px;
}

header img {
  width: 120px;
}

/* main */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .photographer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

main h1 {
  text-decoration: none;
  color: #D3573C;
  font-weight: 100;
  font-size: 2rem;
  margin: 0;
  padding-top: 1vw;
}

main p {
  margin: 11px 0;
  white-space: nowrap;
}

main p.city {
  color: #901C1C;
}

main p.bio {
  color: #757575;
}

main .portrait {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .portrait img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  list-style-type: none;
  padding: 0;
  color: #901C1C;
  width: 120%;
}

main li {
  padding: 3px 8px;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  font-weight: bold;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 10px;
}

main .shoot {
  width: 100%;
  height: 190px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 50px;
}

main .shoot img, main .shoot video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0px;
  bottom: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  width: 230px;
  border-radius: 5px;
  background: #DB8876;
  border-radius: 5px;
  font-size: 15px;
}

main .display p {
  padding: 20px;
  font-weight: bold;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Modal form */
.form {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(196, 196, 196, 0.4);
}

.content {
  margin: 20% auto;
  width: 100%;
  max-width: 500px;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: var(--modal-duration);
          animation-duration: var(--modal-duration);
  background: #DB8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label {
  font-size: 24px;
  line-height: 31px;
  color: #312E2E;
}

.text-control {
  margin: 0;
  width: 100%;
  height: 52px;
  border-radius: 5px;
  font-size: 1.3rem;
  border-color: transparent;
  margin: 10px 0 20px 0;
}

.text-message {
  margin: 0;
  width: 100%;
  height: 184px;
  border-radius: 5px;
  font-size: 1.3rem;
  border-color: transparent;
  margin: 10px 0 20px 0;
}

.btn-submit {
  height: 35px;
  width: 170px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  background: #901C1C;
  border-color: transparent;
  color: #FFFFFF;
}

form h1 {
  width: 85%;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
}

.data-form {
  width: 85%;
  margin: auto;
}

/* Lightbox */
.lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
  padding: 15px;
  z-index: 100;
}

.lightbox__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.lightbox__container img,
.lightbox__container video {
  width: 85%;
  height: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.lightbox__close {
  position: absolute;
  top: 26%;
  right: 0%;
  padding: 0 10px;
  font-size: 30px;
  cursor: pointer;
  color: #901C1C;
}

.lightbox__next {
  position: absolute;
  top: 50%;
  right: 2%;
  font-size: 35px;
  color: #901C1C;
  cursor: pointer;
}

.lightbox__prev {
  position: absolute;
  top: 50%;
  left: 2%;
  font-size: 35px;
  color: #901C1C;
  cursor: pointer;
}

.lightbox__close:hover, .lightbox__prev:hover, .lightbox__next:hover {
  color: rgba(0, 0, 0, 0.8);
}

.lightbox__title {
  position: absolute;
  top: 74%;
  left: 10%;
  font-size: 25px;
  color: #901C1C;
}

/* Responsive for Tablet */
@media only screen and (min-width: 768px) {
  body {
    margin: auto;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  main .photographer {
    background: #FAFAFA;
    border-radius: 5px;
  }
  main .profil {
    padding: 3%;
  }
  main .portrait {
    padding: 3%;
    width: 150px;
    height: 150px;
  }
  main .portrait img {
    width: 150px;
    height: 150px;
  }
  main .album {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .shoot {
    width: 330px;
    height: 300px;
  }
  article {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /* Lightbox */
  .lightbox__container img,
  .lightbox__container video {
    width: 70%;
    height: 60%;
  }
  .lightbox__close {
    right: 10%;
    font-size: 35px;
    top: 21%;
  }
  .lightbox__next {
    font-size: 40px;
    right: 11%;
  }
  .lightbox__prev {
    font-size: 40px;
    left: 11%;
  }
  .lightbox__title {
    top: 79%;
    left: 16%;
  }
}

/* Responsive for Desktop */
@media only screen and (min-width: 1024px) {
  body {
    margin: auto;
    max-width: 1190px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  header img {
    width: 195px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  main .photographer {
    position: relative;
  }
  main .selection {
    display: block;
  }
  main h1 {
    font-size: 55px;
  }
  main p {
    font-size: 20px;
    margin: 5px 0;
  }
  main p.city {
    font-size: 24px;
  }
  main p.bio {
    font-size: 18px;
  }
  main li {
    font-size: 18px;
    border-radius: 12px;
  }
  main .contact_me {
    position: absolute;
    top: 20%;
    left: 460px;
    width: 170px;
    height: 69px;
  }
  main .portrait {
    width: 200px;
    height: 200px;
  }
  main .portrait img {
    width: 200px;
    height: 200px;
  }
  main .shoot {
    width: 300px;
    height: 300px;
  }
  main .display {
    right: 25px;
    width: 300px;
    font-size: 24px;
  }
  /* Modal form */
  .content {
    max-width: 669px;
  }
  form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  form h1 {
    margin-left: 50px;
  }
  .btn-submit {
    height: 69px;
    width: 170px;
    margin-left: 50px;
  }
  /* Lightbox */
  .lightbox__container img,
  .lightbox__container video {
    width: 75%;
    height: 95%;
  }
  .lightbox__close {
    right: 9%;
    font-size: 40px;
    top: 4%;
  }
  .lightbox__next {
    font-size: 50px;
    right: 10%;
  }
  .lightbox__prev {
    font-size: 50px;
    left: 10%;
  }
  .lightbox__title {
    top: 96%;
    left: 14%;
  }
}
/*# sourceMappingURL=photograph.css.map */