@import "./media";
@import "./variable";
@import "./mixin";

/* éléments généraux de la page */
body {
    font-family: DM Sans;
    margin: 30px;
}
.skip-links { /* Accessibility*/
    margin: 0;
    padding: 0;
    list-style-type: none;
    a {
        position: absolute;
        top: -3em;
        background-color: #000;
        color: #fff;
        padding: 0.5em 0.75em;
        font-weight: bold;
    }
    a:focus {
        top: 0;
    } 
}   
li a {
    text-decoration: none;
    color: $primarycolor;
}
/* header */
header {
    display: flex;
    flex-flow: wrap;
    color: $primarycolor;
    margin-bottom: 50px;
    
    img {
        width: 30vw;
    }
    a.logo {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: $primarycolor;
        width: 100%;
    }
    h1 {
        font-weight: normal;
        font-size: large;
        margin: 0;
        padding-top: 1%;
    }
    ul {
        @include ul;
        justify-content: center;
    }
    li {
        @include li
    }
}

/* main */
main {
    img {
        height: 200px;
        width: 200px;
        border-radius: 100px;
        object-fit: cover;
    }
    h2 {
        @include title
    }
    p {
        margin: 3px;
        white-space: nowrap;
    }
    p.city {
        color: $primarycolor;
    }
    p.price {
        color: $tertiarycolor;
    }
    ul {
        @include ul;
        justify-content: center;
    }
    li {
        @include li
    }
}
.photographer {
    text-align: center;
    
    a {
        text-decoration: none;
    }
}

/* Responsive for Tablet */
  
@media #{$medium-up} {
    body {
        max-width: 700px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    header {
        h1 {
            font-size: xx-large;
        }
    }

    main {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
        margin: auto;

        .photographer {
            width: 300px;
        }
        
    }
}

/* Responsive for Desktop */
@media #{$large-up} {
    body {
        max-width: 1190px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    header {
        position: relative;
        margin-bottom: 100px;
        img {
            width: 195px;
            margin-left: 55px;
        }
        ul {
            position: absolute;
            right: 300px;
            top: -4px;
        }
        li {
            font-size: 12px;
        }
        h1 {
            font-size: 30px;
            padding-top: 4px;
        }
    }
    main {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
        margin: auto;

        .photographer {
            width: 300px;
            margin-bottom: 30px;
        }
    }
}