@charset "UTF-8";
/* Tablet */
/* Desktop */
/* mixins body */
/* mixins du nav */
/* éléments généraux de la page */
body {
  font-family: DM Sans;
  margin: 30px;
}

/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  color: #901C1C;
}

header img {
  width: 30vw;
}

header a.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  color: #901C1C;
  width: 100%;
}

header h1 {
  font-weight: normal;
  font-size: large;
  margin: 0;
  padding-top: 1%;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  list-style-type: none;
  padding: 0;
  color: #901C1C;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header li {
  padding: 3px 8px;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  font-weight: bold;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 10px;
}

/* main */
main .information {
  line-height: 0;
}

main img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

main h2 {
  text-decoration: none;
  color: #D3573C;
  font-weight: 100;
  font-size: 2rem;
  margin: 0;
  padding-top: 1vw;
}

main p {
  margin: 12px;
  white-space: nowrap;
}

main p.city {
  color: #901C1C;
}

main p.price {
  color: #757575;
}

main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  list-style-type: none;
  padding: 0;
  color: #901C1C;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main li {
  padding: 3px 8px;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  font-weight: bold;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.photographer {
  text-align: center;
}

.photographer a {
  text-decoration: none;
}

/* Responsive for Tablet */
@media only screen and (min-width: 768px) {
  body {
    max-width: 700px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  header h1 {
    font-size: xx-large;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  main .photographer {
    width: 300px;
  }
}

/* Responsive for Desktop */
@media only screen and (min-width: 1024px) {
  body {
    max-width: 1190px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  header {
    position: relative;
    margin-bottom: 35px;
  }
  header img {
    width: 195px;
    margin-left: 55px;
  }
  header ul {
    position: absolute;
    right: 300px;
    top: -4px;
  }
  header li {
    font-size: 12px;
  }
  header h1 {
    font-size: 30px;
    padding-top: 4px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  main .photographer {
    width: 300px;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */